.main-menu{
  background-color:var(--fourth-text-color);
  padding: 60px 0px;
  @media screen and (min-width: 1200px){
    padding: 94px 0px;
  }
}
.main-menu__list{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  @media (min-width: 768px){
   justify-content: center;}
   @media screen and (min-width: 1200px){
     margin-bottom: 50px;
}}
.main-menu__buttons{
  display: none;
}
.main-menu__item{
  margin-right: 8px;
  flex-basis: calc(100% / 2- 30px);  
  margin-bottom: 15px;
}
.main-menu__main-btn{
  @include font(16px, 1.62, 0.03em, 500 );
  font-family: Roboto;
border-radius: 4px;
padding: 6px 22px;
min-width: 73px;
text-align: center;
border-radius: 4px;
color:var(--main-tittle-color);
border:var(--second-text-color);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
&:hover,
&:focus{
  color:var(--fourth-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
}
